#match-border{

	height: 15%;
	border: solid steelblue 3px;
	background-image: url('../../img/vsline.svg');
	background-repeat: no-repeat;
	background-position: center;
letter-spacing: 3px;


}
#center{
	margin-top:20px;
}
.bttn{
	width: 25%;

}

#vs{
	position: relative;
	top: 0px;
	left:1px;
background-color: #333;
color: white;
padding: 2px;
}
