#show-card {
  height: 12%;
  width: 12%;
  padding: 2px;

  /* mask-image:url('../../img/Jersey1.svg');
	mask-size:cover;
	mask-repeat:no-repeat; */
}
.team {
  /* border: solid 2px; */
  /* position: relative;
  top: 20px;
  left: 60px; */
}
.team > * {
  display: flex;
  justify-content: center;
}
