#signup {
  width: 24em;
  height: 20em;
  box-shadow: 3px 3px 3px;
animation-name: rise;
animation-duration: .5s;
animation-timing-function: ease;
}
#form-cnt {
  /* border: solid #f1c531 2px; */
}
::placeholder{
  color: #ecdaed;
}

input {
  height: 2em;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  margin-top: 2px;
animation-name: show;
animation-duration: .6s;
animation-timing-function: ease;
}
#signup-btn {
  width: 10em;
  margin: auto;
  transition-duration: .4s;
  
}
#signup-btn:hover{
  	background-color:rgba(3,3,3,.08);
}

input:focus {
  outline: none;
  transition-duration: 0.3s;
  box-shadow: #f1c531 6px 3px 3px;
  background-color: rgba(0, 0, 0, 0.7);
}


@keyframes show {
  0%{
    opacity: 0;
  }
  100%{
opacity: 1;
    }


}
@keyframes rise {
  0%{
      box-shadow:0px 0px 0px;
  }
  100%{
      box-shadow: 3px 3px 3px;
  }

}
