#match-cnt {
  height: 100vh;
  border: solid #004d00;
  position: relative;
}
#start {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}
#matches {
  height: 100%;
}
