#roster {
  height: 96vh;

}
.ros-links{
display: flex;
justify-content: space-around;

}

.ros-box{
height: 50%;
width: 70%;
  
}
button{
background-color: rgba(0, 0, 0, 0.4);
color: white;
transition-duration: .4s;
}
button:hover{
	background-color:rgba(3,3,3,.08);
}
