#nav-container {
  /* border: solid white 2px; */
  width: 1196px;
  margin: auto;
  background: rgba(87, 64, 96, 0.95);
  max-width: 446px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

#nav-container button {
  text-transform: uppercase;
  border-radius: 5px;
  width: 92.68px;
  box-shadow: inset 1px 3px 5px black;
  border: none;
}
